<!--
© 2014 Jose Annunziato
All Rights Reserved
-->
<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
</style>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a	href="#/{{username}}/applications/{{applicationId}}/entities/{{entityId}}/fields/{{fieldId}}/fieldScripts/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<button class="btn btn-success pull-right f360-navbar-button" ng-click="update()">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
		<div class="navbar-header">
			<span class="navbar-brand">Edit Script</span>
		</div>
	</div>
</div>

<label>Title</label>
<input ng-model="script.title" class="form-control" placeholder="Title"/>
<label>Name</label>
<input ng-model="script.name" class="form-control" placeholder="Name"/>
<label>Event</label>
<select ng-model="script.event" class="form-control">
	<option ng-repeat="event in events">{{event}}</option>
</select>
<label>Notes</label>
<textarea ng-model="script.notes" class="form-control" placeholder="Notes">

</textarea>
<a	href="#"
	ng-click="remove()"
	class="btn btn-danger btn-block">
	Remove
</a>
