<!--
© 2014 Jose Annunziato
All Rights Reserved
-->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a	href="#/list/{{username}}/{{application}}/{{state}}/{{collection}}" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<button class="btn btn-success pull-right f360-navbar-button"
			ng-click="update(model)">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
		<div class="navbar-header">
			<span class="navbar-brand">Edit {{collection}}</span>
		</div>
	</div>
</div>

<div ng-repeat="field in fields">
	<span ng-switch="field.type">
		<span ng-switch-when="String">
			<label>{{field.name}}</label>
			<input ng-model="model[field.name]" type="text" placeholder="{{field.name}}" class="form-control"/>
		</span>
		<span ng-switch-when="Long String">
			<label>{{field.name}}</label>
<textarea ng-model="model[field.name]" placeholder="{{field.name}}" class="form-control">

</textarea>
		</span>
		<span ng-switch-when="Number">
			<label>{{field.name}}</label>
			<input ng-model="model[field.name]" type="number" placeholder="{{field.name}}" class="form-control"/>
		</span>
		<span ng-switch-when="Date" >
			<label>{{field.name}}</label>
			<input ng-model="model[field.name]" type="date" class="form-control"/>
		</span>
		<span ng-switch-when="Time" >
			<label>{{field.name}}</label>
			<input ng-model="model[field.name]" type="time" class="form-control"/>
		</span>
	</span>
</div>

<label>Children</label>
<table class="table">
	<tr ng-repeat="child in children">
		<td>
			<a href="#/list/{{username}}/{{application}}/{{state}}/{{collection}}/{{model._id}}/{{child.reference}}">
				<label>{{child.name}}</label>
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</tr>
	</tr>
</table>

<button ng-click="remove(model._id)" class="btn btn-danger btn-block">Remove {{collection}}</button>
