<!--
© 2014 Jose Annunziato
All Rights Reserved
-->
<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
</style>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a	href="#/{{username}}/applications/{{applicationId}}/pages/{{pageId}}/widgets/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	href="#" class="btn btn-success pull-right f360-navbar-button" ng-click="updateYouTube()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">YouTube Video</span>
		</div>
	</div>
</div>
<a	href="#"
	ng-click="remove()"
	class="btn btn-danger btn-block">
	Remove
</a>
