<!--
© 2014 Jose Annunziato
All Rights Reserved
-->
<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	input[type=date] {
		width: 100%;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a	href="#/{{username}}/applications/{{applicationId}}/pages/{{pageId}}/widgets/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	href="#" class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Widget</span>
		</div>
	</div>
</div>
Name
<input ng-model="newWidget.name" class="form-control" placeholder="Name"/>
Type
<select ng-model="newWidget.type" class="form-control">
	<option>Form</option>
	<option>YouTube Video</option>
	<option>Image</option>
</select>
Notes
<textarea ng-model="newWidget.notes" class="form-control" placeholder="Notes">



</textarea>