<!--
© 2014 Jose Annunziato
All Rights Reserved
-->
<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	.f360-right-arrow {
		font-size: 1.5em;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a href="#/login" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a href="#/{{username}}/appStore" class="btn btn-success pull-right f360-navbar-button">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">Applications</span>
		</div>
	</div>
</div>

<table class="table">
	<tr ng-repeat="application in applications">
		<td>
            <a class="pull-right" href="#/collections/{{username}}/{{application.appName}}">
                <span class="glyphicon glyphicon-chevron-right f360-right-arrow"></span>
            </a>			
            <!--a href="#" ng-click="run(application)"-->
            <a href="#/collections/{{username}}/{{application.appName}}">
                <span>{{application.appName}}</span><br />
            </a>
		</tr>
</table>